/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/public/myAdmin
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/public/mix-manifest.json
/public/[0-9]*.js
/public/js/app.js
/public/css
/public/svg
/public/fonts
/public/images
/public/js
/public/admin
/public/tenant
/public/vendors*
/public/*.js
.DS_Store
.idea/
package-lock.json
